# Production
PRODUCTION_SERVER=
PRODUCTION_USER=
PRODUCTION_SSH_KEY=~/.ssh/id_rsa
PRODUCTION_DEPLOY_TO=
PRODUCTION_REPO_PATH=
PRODUCTION_DOTENV=

# Staging
STAGING_SERVER=
STAGING_USER=
STAGING_PORT=
STAGING_SSH_KEY=~/.ssh/id_rsa
STAGING_DEPLOY_TO=
STAGING_REPO_PATH=
STAGING_DOTENV=
